*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    border: 1px solid black;
    height: 2500px;
    margin: 40px;
}

.position{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.static{
    background-color: black;
    color: whitesmoke;
    position: static;
}

.relative{
    background-color: brown;
    color: aqua;
    position: relative;
    top: -75px;
    left: 70px;
}

.absolute{
    background-color: violet;
    color: black;
    position: absolute;
    bottom: 0;
    right: 0;
}

.fixed{
    background-color: cadetblue;
    color: brown;
    position: fixed;
    top: 0;
    left: 50%;
}

.sticky{
    background-color:darkolivegreen;
    color: coral;
    position: sticky;
    top:50px
}